<div id="footer">
    <footer class="row content-main">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="small-6 columns">
                    &copy; 2015 <a href="http://github.com/ampayne2/">Austin Payne</a> | All Rights Reserved.
                </div>
                <div class="small-4 columns"></div>
                <div class="small-2 columns">
                    <div class="row small-up-4 float-right">
                        <div class="column">
                            <a href="#"><img src="img/github.png" alt=""></a>
                        </div>
                        <div class="column">
                            <a href="#"><img src="img/email.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </footer>
</div>

<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/what-input.min.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/app.js"></script>